<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let freight of freights" (click)="itemClick(freight)">
      {{freight.name}}
    </ion-slide>
  </ion-slides>
  <ion-img [src]="currentFreight?.icon" style="width: 50%;height: 50%;"></ion-img>
  {{currentFreight?.weight}} | {{currentFreight?.lwh}} | {{currentFreight?.cube}}
  <ion-list>
    <ion-item (click)="presentFromModal($event)">
      <ion-avatar slot="start">
        起点
      </ion-avatar>
      <ion-label>
        <h2>{{from?.data.name}} </h2>
        <p>{{from?.data.address}} </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="presentToModal($event)">
      <ion-avatar slot="start">
        终点
      </ion-avatar>
      <ion-label>
        <h2>{{to?.data.name}} </h2>
        <p>{{to?.data.address}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
  费用：${{fee}}
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>现在用车</ion-button>
      <ion-button>预约</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>